/* geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica
}
body{
    background-color: #eaeded;
    
}
.container-pai{
    background-color: #fff;
    margin: 0 auto;
    width: 800px;
    max-height: 3000px ;
}
.container-pai .navbar-container{
    margin-top: 50px;
}


/* navBar */
.navbar-container{
    padding: 0 2rem;
    justify-content: space-between;
    display: flex;
    background-color: #7292c4;
    width: 100%;
    height: 80px;
}

/* Icon-LOGO */
.icon-logo{
    display: flex;
    align-items: center;
    
    
    
}

/* itens da navbar */
.navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;    
}

.navbar-items a{
    text-decoration: none;
    color: black;
}

#pesquisar{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;

}

main{
    margin-top: 30px;
}


/* slides do projeto */
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;

}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 800px;
}

.manual-navegacao {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;

}

#slide1:checked~.first {
    margin-left: 0;
}

#slide2:checked~.first {
    margin-left: -25%;
}
#slide3:checked~.first {
    margin-left: -50%;
}
#slide4:checked~.first {
    margin-left: -75%;
}

/* produtos disponives */
#disponiveis{
display: flex;
margin-top: 30px;
gap: 20px;
width: 300;
overflow-x: auto;
}

#disponiveis-img{
    min-height: 100rem;
    max-width: 100;
}

#foto-produdo{
    width: 300px;
    height:200px ;
}